.toggle-test-container {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 2vw); /* 전체 화면 중 마진값을 뺀 만큼의 너비로 설정 */
}

.toggle-test-button {
  position: relative;
  width: 15vw;
  height: 40px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  overflow: hidden;
}

.toggle-indicator {
  position: absolute;
  width: 50%; /* 토글 인디케이터의 너비를 조절 */
  height: 40px;
  background-color: aquamarine;
  transition: left 0.3s ease;
  top: 0;
}

.text-on,
.text-off {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  color: #000;
}

.text-on {
  left: 0;
}

.text-off {
  right: 0;
}

.toggle-test-button.active .toggle-indicator {
  left: 50%; /* 토글이 On 상태일 때 토글 인디케이터를 오른쪽으로 이동합니다. */
}
