.gender_toggle {
  border: 1px solid gray;
  width: 15vmin;
  height: 5vmin;
  border-radius: 10em;
  padding: 0;
  background-color: lightgray;
  margin: 1em auto;
}

.gender_toggle_button {
  height: 5vmin;
  margin: 0;
  line-height: 5vmin;
  text-align: center;
  width: 7.5vmin;
  float: left;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.gender_toggle_button:hover {
  cursor: pointer;
}

.gender_toggle_circle {
  background-color: #d2e9ef;
  height: 5vmin;
  width: 7.5vmin;
  border-radius: 10em;
  position: relative;
  z-index: 1;
}

.gender_toggle_circle_moving_left {
  transform: translateX(0vmin);
  transition-duration: 0.5s;
}

.gender_toggle_circle_moving_right {
  transform: translateX(7.5vmin);
  transition-duration: 0.5s;
}