$header_height: 9vh;
$menu_height: calc($header_height * 0.6);

.page_header {
  background-color: #374c75;
  width: 100vw;
  height: $header_height;

  &_logo {
    float: left;
    display: inline-block;
    height: calc($header_height * 0.9);
    line-height: calc($header_height * 0.9);
    width: 12vw;
    margin: 0 1vw 0 3vw;
  }

  &_menus {
    height: $header_height;
    line-height: $header_height;
    float: left;
    width: 10vw;
    text-align: center;
    color: white;
    font-size: 1.2vw;

    &_menu {
      display: inline-block;
      position: relative;
      width: 10vw;

      &_sub {
        display: none;
        position: absolute;
        text-align: center;
        width: 100%;
        height: $menu_height;
        line-height: $menu_height;

        &_content {
          background-color: #0054aa;
          color: white;
          display: block;

          &:hover {
            cursor: pointer;
            background-color: #d2e9ef;
            color: black;
          }
        }
      }
    }

    &:hover {
      background-color: #0054aa;
      color: white;
      cursor: pointer;
    }
  }

  &_search {
    margin: calc($header_height * 0.3) 2vw;
    height: $header_height * 0.5;
    float: right;
    width: 18vw;
    background-color: white;
    border-radius: 50px;
    padding: 0 0.5vw 0 1vw;

    &_input {
      font-family: 'WavvePADO-Regular' , 'serif';
      float: left;
      width: 87%;
      margin: 0.5% 1%;
      padding: 0;
      height: calc(calc($header_height * 0.47) - 1%);
      line-height: calc(calc($header_height * 0.47) - 1%);
      border: none;
      font-size: 1vw;

      &:focus {
        outline: none;
      }
    }

    &_icon {
      width: 10%;
      margin: calc(calc($header_height * 0.1) / 2) 0;
      height: calc($header_height * 0.4);
      float: left;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &_login {
    margin: 0;
    width: 10vw;
    height: $header_height;
    line-height: $header_height;
    float: right;

    &_text {
      $login_text_height: calc($header_height * 0.5);
      $login_margin_height: calc($header_height - $login_text_height);

      text-align: center;
      width: 50%;
      float: left;
      height: $login_text_height;
      line-height: $login_text_height;
      margin: calc($login_margin_height / 2) 0;
      font-weight: bold;
      color: white;
      font-size: 1vw;

      &:hover {
        background-color: #0054aa;
        cursor: pointer;
      }
    }
  }
}

.page_header_menus:hover .page_header_menus_menu_sub {
  display: block;
}