@import '../../App.scss';

.App-right-menu-open {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    padding: 0 15%;
    background-color: #374c75;
    transform: translateX(0);
    transition: transform 1.5s ease;

    &-top {
        width: 100%;
        text-align: center;
        padding: 2vh 0;

        &-closed {
            position: absolute;
            right: 10%;

            &:hover {
                cursor: pointer;
            }
            

            @include pc {
                width: 3%;
                height: 3vh;
                top: 8vh;
            }

            @include mobile {
                width: 10%;
                height: 8vh;
                top: 2vh;
            }

            span {
                position: absolute;
                width: 100%;
                height: 0.5vh;
                background-color: #FFFFFF;
                border-radius: 4px;
                transition: all 0.4s;
                box-sizing: border-box;
        
                &:first-of-type {
                    top: 50%;
                    transform: rotate(-45deg);
                }
        
                &:last-of-type {
                    top: 50%;
                    transform: rotate(45deg);
                }
            }
        }

        &-logo {
            @include mobile {
                width: 60%;
            }
            @include pc {
                width: 20%;
            }
            
            margin: 0 auto;
            cursor: pointer;
        }
    }

    &-content {
        @include pc {
            float: left;
            width: 33%;
            height: 100vh - 30vh;
            padding: 2vh 0;

            &:nth-of-type(3) {
                border-left: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
            }
        }

        @include mobile {
            padding: 3vh 0;
            &:nth-of-type(3) {
                border-top: 1px solid #FFFFFF;
                border-bottom: 1px solid #FFFFFF;
            }
        }
        
        color: white;
        text-align: center;

        span {
            @include pc {
                font-size: 35px;
            }

            @include mobile {
                font-size: 25px;
            }
        }

        ul {
            list-style: none;
            margin: 0;
            @include pc {
                margin-top: 5vh;
                font-size: 20px;
            }

            @include mobile {
                margin-top: 3vh;
                font-size: 15px;
            }
            padding: 0;

            li {
                margin: 3vh 0;
                cursor: pointer;

                &:last-of-type {
                    margin: 3vh 0 0;
                }
            }
        }
    }

    &-bottom {
        div {
            color: #FFFFFF;
            display: inline-block;
        }
    }
}

.App-right-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    padding: 0 15%;
    background-color: #374c75;
    transform: translateX(100%);
    transition: transform 1.5s ease;

    &-top {
        width: 100%;
        text-align: center;
        padding: 2vh 0;

        &-closed {
            position: absolute;
            right: 10%;

            &:hover {
                cursor: pointer;
            }
            

            @include pc {
                width: 3%;
                height: 3vh;
                top: 8vh;
            }

            @include mobile {
                width: 10%;
                height: 8vh;
                top: 2vh;
            }

            span {
                position: absolute;
                width: 100%;
                height: 0.5vh;
                background-color: #FFFFFF;
                border-radius: 4px;
                transition: all 0.4s;
                box-sizing: border-box;
        
                &:first-of-type {
                    top: 50%;
                    transform: rotate(-45deg);
                }
        
                &:last-of-type {
                    top: 50%;
                    transform: rotate(45deg);
                }
            }
        }

        &-logo {
            @include mobile {
                width: 60%;
            }
            @include pc {
                width: 20%;
            }
            
            margin: 0 auto;
            cursor: pointer;
        }
    }

    &-content {
        @include pc {
            float: left;
            width: 33%;
            height: 100vh - 31vh;
            padding: 2vh 0;

            &:nth-of-type(3) {
                border-left: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
            }
        }

        @include mobile {
            padding: 3vh 0;
            &:nth-of-type(3) {
                border-top: 1px solid #FFFFFF;
                border-bottom: 1px solid #FFFFFF;
            }
        }
        
        color: white;
        text-align: center;

        span {
            @include pc {
                font-size: 35px;
            }

            @include mobile {
                font-size: 25px;
            }
        }

        ul {
            list-style: none;
            margin: 0;
            @include pc {
                margin-top: 5vh;
                font-size: 20px;
            }

            @include mobile {
                margin-top: 3vh;
                font-size: 15px;
            }
            padding: 0;

            li {
                margin: 3vh 0;
                cursor: pointer;

                &:last-of-type {
                    margin: 3vh 0 0;
                }
            }
        }
    }

    &-bottom {
        width: 50%;
        padding: 0 25%;
        text-align: center;
        height: 3vh;
        line-height: 3vh;
        p {
            width: 50%;
            cursor: pointer;
            color: #FFFFFF;
            display: inline-block;
            font-weight: 700;
        }
    }
}