$footer_height: 7vh;

.page_footer {
  height: $footer_height;
  width: 100vw;
  background-color: #d2e9ef;

  &_logo {
    height: $footer_height - 1vh;
    margin: 0 0 0 2vw;
    width: 8vw;
    float: left;
  }

  &_copyright {
    float: left;
    height: $footer_height;
    line-height: $footer_height;
    margin: 0 0 0 1vw;
    font-size: 1vw;
  }

  &_catchphrase {
    float: right;
    height: $footer_height;
    line-height: $footer_height;
    margin: 0 1vw 0 0;
    font-size: 0.8vw;
    color: #374c75;
  }

  &_menus {
    height: $footer_height;
    line-height: $footer_height;
    margin: 0;
    list-style: none;
    float: left;
    font-size: 1vw;

    &_menu {
      display: inline-block;
      color: white;
      font-weight: bold;
      width: 7vw;
      text-align: center;

      &:hover {
        cursor: pointer;
        background-color: #0054aa;
      }
    }
  }
}