$footer_height: 7vh;

.page_footer {
  height: $footer_height;
  width: 100vw;
  background-color: #374c75;

  &_menus {
    height: $footer_height;
    line-height: $footer_height;
    margin: 0;
    list-style: none;
    float: left;
    font-size: 1vw;

    &_menu {
      display: inline-block;
      color: white;
      font-weight: bold;
      width: 7vw;
      text-align: center;

      &:hover {
        cursor: pointer;
        background-color: #0054aa;
      }
    }
  }
}