.chosen_box {
  padding: 0;
  margin: 0;
  width: 100%;
}

.translate_box {
  width: 95%;
  margin: 0 auto;
  // margin: 12.5em 1.5%;
  border: 1px solid black;
  text-align: center;
  height: 25em;
  background-color: lightcoral;
  border-radius: 30px;
  float: left;

  p {
    font-weight: bold;
    font-size: 2em;
    margin: 1em 0 0;
  }

  &_button {
    width: 95%;
    margin: 0 auto;
    padding: 0;

    div {
      border: 1px solid black;
      width: 44%;
      margin: 2em 2.5%;
      float: left;
      height: 15em;
      line-height: 15em;
      font-weight: bold;
      background-color: white;
      border-radius: 30px;

    }
  }



  &_sign {
  }
}

.page {
  margin: 0;
  padding: 0;

  $header_height: 10vh;
  $footer_height: 8vh;

  &_main {
    background-color: #FFF1DD;
    $toggle_area_height: 5vh;
    $text_area_height: 20vh;
    $video_area_height: 45vh;

    $page_padding: calc(100vh - $header_height - $footer_height - $toggle_area_height - $text_area_height - $video_area_height - 4vh);

    height: calc(100vh - $header_height - $footer_height - $page_padding);
    padding: calc($page_padding / 2) 0;

    &_toggle {
      width: 90vw;
      margin: 0 auto;
      height: $toggle_area_height;

      &_area {
        height: $toggle_area_height;
        width: 25vw;
        border-radius: 20px;
        float: right;
        box-shadow: 1vh 1vw 10px #cccccc;
        background-color: white;

        &_text {
          float: left;
          height: $toggle_area_height;
          line-height: $toggle_area_height;
          width: 50%;
          text-align: center;
          font-weight: bold;
          z-index: 1;
          position: relative;
          font-size: 1.5vw;

          &:hover {
            cursor: pointer;
          }
        }

        &_circle {
          height: $toggle_area_height;
          width: 50%;
          border-radius: 20px;
          background-color: #d2e9ef;
          z-index: 0;

          &_left {
            transform: translateX(0);
          }

          &_right {
            transform: translateX(100%);
          }
        }
      }
    }

    &_text_area {
      width: 90vw;
      margin: 2vh auto 0;
      height: $text_area_height;
      border-radius: 20px;
      box-shadow: 1vh 1vw 10px #cccccc;
      background-color: white;

      &_input {
        float: left;
        width: 70vw;
        height: $text_area_height;
        border: none;
        padding: 0;
        resize: none;
        border-radius: 20px 0 0 20px;

        &:focus {
          outline: none;
        }
      }

      &_image {
        float: left;
        width: 4vw;
        margin: 0 3vw;
        height: $text_area_height;

        &:hover {
          cursor: pointer;
        }
      }

      &_button {
        float: left;
        width: 10vw;
        height: $text_area_height;
        line-height: $text_area_height;
        text-align: center;
        font-weight: bold;
        font-size: 2.5vw;
        background-color: orange;
        border-radius: 0 20px 20px 0;

        &:hover {
          cursor: pointer;
        }

      }

      &_speaker {
        float: left;
        height: $text_area_height;
        border-radius: 0 20px 20px 0;
        width: 20vw;
        text-align: center;

        &_button {
          margin: 1vh 0;
          width: 6vw;
          height: $text_area_height * 0.5;

          &:hover {
            cursor: pointer;
          }
        }

        &_gender {
          background-color: #cccccc;
          width: 15vw;
          margin: 0 auto;
          height: calc($text_area_height * 0.3);
          border-radius: 50px;

          &_icon {
            width: 50%;
            float: left;
            height: calc($text_area_height * 0.3);
            line-height: calc($text_area_height * 0.3);
            z-index: 1;
            position: relative;

            &_image {
              height: calc($text_area_height * 0.2);
              line-height: calc($text_area_height * 0.2);
              margin: calc(calc($text_area_height * 0.1) / 2) 0;
            }

            &:hover {
              cursor: pointer;
            }
          }

          &_circle {
            width: 50%;
            height: calc($text_area_height * 0.3);
            background-color: #d2e9ef;
            border-radius: 50px;
            z-index: 0;

            &_left {
              transform: translateX(0);
            }

            &_right {
              transform: translateX(100%);
            }
          }
        }
      }
    }

    &_video_area {
      width: 90vw;
      margin: 2vh auto 0;
      height: $video_area_height;
      border-radius: 20px;
      box-shadow: 1vh 1vw 10px #cccccc;
      background-color: #d2e9ef;

      &_video {
        width: 90vw;
        height: calc($video_area_height * 0.85);
        border-radius: 20px 20px 0 0;
        text-align: center;

        &_logo {
          margin: calc(calc($video_area_height - 10vh) / 2) auto;
          height: 10vh;
        }
      }

      &_button_area {
        width: 90vw;
        height: calc($video_area_height * 0.15);
        border-radius: 0 0 20px 20px;

        &_button {
          height: calc($video_area_height * 0.12);
          float: right;
          margin: 0 2vw;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}